spring:
  datasource:
    url: jdbc:h2:mem:giftify;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      encoding: UTF-8

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

server:
  servlet:
    context-path: /giftify

logging:
  level:
    root: info
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.transaction: trace
    org.springframework.jdbc.core: trace

management:
  health:
    elasticsearch:
      enabled: false # elasticsearch 구현 시 활성화